<a href="https://colab.research.google.com/github/Sairishithreddyvem/ml/blob/main/ML_lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/Salary_dataset.csv')

In [3]:
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [4]:
df.tail()

    Unnamed: 0  YearsExperience    Salary
25          25              9.1  105583.0
26          26              9.6  116970.0
27          27              9.7  112636.0
28          28             10.4  122392.0
29          29             10.6  121873.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       30 non-null     int64
 1   YearsExperience  30 non-null     float64
 2   Salary           30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 852.0 bytes

In [6]:
x=df.YearsExperience
y=df.Salary

In [11]:
x=df['YearsExperience'].values
y=df['Salary'].values
print(f"x is {x}")
print(f"y is {y}")

x is [ 1.2  1.4  1.6  2.1  2.3  3.   3.1  3.3  3.3  3.8  4.   4.1  4.1  4.2
  4.6  5.   5.2  5.4  6.   6.1  6.9  7.2  8.   8.3  8.8  9.1  9.6  9.7
 10.4 10.6]
y is [ 39344.  46206.  37732.  43526.  39892.  56643.  60151.  54446.  64446.
  57190.  63219.  55795.  56958.  57082.  61112.  67939.  66030.  83089.
  81364.  93941.  91739.  98274. 101303. 113813. 109432. 105583. 116970.
 112636. 122392. 121873.]

In [12]:
x=df.iloc[:,1].values
y=df.iloc[:,-1].values
print(x)
print(y)

[ 1.2  1.4  1.6  2.1  2.3  3.   3.1  3.3  3.3  3.8  4.   4.1  4.1  4.2
  4.6  5.   5.2  5.4  6.   6.1  6.9  7.2  8.   8.3  8.8  9.1  9.6  9.7
 10.4 10.6]
[ 39344.  46206.  37732.  43526.  39892.  56643.  60151.  54446.  64446.
  57190.  63219.  55795.  56958.  57082.  61112.  67939.  66030.  83089.
  81364.  93941.  91739.  98274. 101303. 113813. 109432. 105583. 116970.
 112636. 122392. 121873.]

In [13]:
import numpy as np

In [15]:
X=np.array(x)
Y=np.array(y)
print(X)
print(Y)

[ 1.2  1.4  1.6  2.1  2.3  3.   3.1  3.3  3.3  3.8  4.   4.1  4.1  4.2
  4.6  5.   5.2  5.4  6.   6.1  6.9  7.2  8.   8.3  8.8  9.1  9.6  9.7
 10.4 10.6]
[ 39344.  46206.  37732.  43526.  39892.  56643.  60151.  54446.  64446.
  57190.  63219.  55795.  56958.  57082.  61112.  67939.  66030.  83089.
  81364.  93941.  91739.  98274. 101303. 113813. 109432. 105583. 116970.
 112636. 122392. 121873.]

In [28]:
X=X.reshape(-1,1)
print(x)

[ 1.2  1.4  1.6  2.1  2.3  3.   3.1  3.3  3.3  3.8  4.   4.1  4.1  4.2
  4.6  5.   5.2  5.4  6.   6.1  6.9  7.2  8.   8.3  8.8  9.1  9.6  9.7
 10.4 10.6]

In [26]:
Y=Y.reshape(-1,1)
print(Y)

[[ 39344.]
 [ 46206.]
 [ 37732.]
 [ 43526.]
 [ 39892.]
 [ 56643.]
 [ 60151.]
 [ 54446.]
 [ 64446.]
 [ 57190.]
 [ 63219.]
 [ 55795.]
 [ 56958.]
 [ 57082.]
 [ 61112.]
 [ 67939.]
 [ 66030.]
 [ 83089.]
 [ 81364.]
 [ 93941.]
 [ 91739.]
 [ 98274.]
 [101303.]
 [113813.]
 [109432.]
 [105583.]
 [116970.]
 [112636.]
 [122392.]
 [121873.]]

In [30]:
X_mean=X.mean()
X_std=X.std()
X_standarized=(X-X_mean)/X_std
print(X_standarized)

[[-1.51005294]
 [-1.43837321]
 [-1.36669348]
 [-1.18749416]
 [-1.11581443]
 [-0.86493538]
 [-0.82909552]
 [-0.75741579]
 [-0.75741579]
 [-0.57821647]
 [-0.50653674]
 [-0.47069688]
 [-0.47069688]
 [-0.43485702]
 [-0.29149756]
 [-0.1481381 ]
 [-0.07645838]
 [-0.00477865]
 [ 0.21026054]
 [ 0.2461004 ]
 [ 0.53281931]
 [ 0.6403389 ]
 [ 0.92705781]
 [ 1.03457741]
 [ 1.21377673]
 [ 1.32129632]
 [ 1.50049564]
 [ 1.5363355 ]
 [ 1.78721455]
 [ 1.85889428]]

In [31]:
X_min=X.min()
X_max=X.max()
X_norm=(X-X_min)/(X_max-X_min)
print(X_norm)

[[0.        ]
 [0.0212766 ]
 [0.04255319]
 [0.09574468]
 [0.11702128]
 [0.19148936]
 [0.20212766]
 [0.22340426]
 [0.22340426]
 [0.27659574]
 [0.29787234]
 [0.30851064]
 [0.30851064]
 [0.31914894]
 [0.36170213]
 [0.40425532]
 [0.42553191]
 [0.44680851]
 [0.5106383 ]
 [0.5212766 ]
 [0.60638298]
 [0.63829787]
 [0.72340426]
 [0.75531915]
 [0.80851064]
 [0.84042553]
 [0.89361702]
 [0.90425532]
 [0.9787234 ]
 [1.        ]]

In [32]:
m=np.random.randn()
c=np.random.randn()
print("Randomly intiliszed slope:",m)
print("Randomly intiliszed slope:",c)

Randomly intiliszed slope: 0.7715387444556733
Randomly intiliszed slope: 0.005616496277897496

In [33]:
def predict(X,m,c):
  y_pred=m*X+c
  return y_pred

In [34]:
y_pred=predict(X_norm,m,c)

In [35]:
print("First 5 predicted values:")
print(y_pred[:5])

First 5 predicted values:
[[0.0056165 ]
 [0.02203221]
 [0.03844793]
 [0.07948723]
 [0.09590295]]

In [36]:
def compute_cost(y,y_pred):
  m=len(y)
  cost=(1/(2*m))*np.sum((y-y_pred)**2)
  return cost

In [37]:
cost=compute_cost(y,y_pred)
print("intial Cost:",cost)

intial Cost: 97545807841.08955

In [38]:
m-0.0
n=0.0
y_pred=predict(X_norm,m,c)
cost=compute_cost(y,y_pred)
print("Cost:",cost)

Cost: 97545807841.08955

In [ ]:
def predict_salary(Years_experience,m,c):
  salary=m*Years_exp
  return salary